* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3edf7;
}

html,
body {
  margin: 0;
  /* height: 100%; */
}

img {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 0.5rem;
}

/* HEADER VIDEO */
.videobg {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative; /* requires for to position video properly */
  z-index: -100;
}

video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* HEADER VIEDEO STOP */

/* HTML LINK VIDEO */
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

a {
  font-family: “Saira”, sans-serif;
  font-size: 1rem;
  color: #d880a8;
  margin-left: 1rem;
  text-decoration: none;
  text-align: center;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}
/* "OVERSKRIFTER" */

/* mobileversion overskrifte */
#forsideH1 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.3rem;
  align-self: center;
  color: #ffffff;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}
#forsideH2 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;
  align-self: end;
  color: #ffffff;
  line-height: 1.125;
  margin: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}

#generalH1 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.3rem;
  margin-block-start: 8.67rem;
  color: #ce6438;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
}

#generalH2 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  color: #ce6438;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
}

h4 {
  display: grid;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: #c56198;
  line-height: 1.125;
  right: 3rem;
  letter-spacing: 0.4rem;
  text-align: right;
  bottom: -7rem;
  position: relative;
  grid-column: 2;
  grid-row: 3;
}

/* knap til cv */
.btn_wrapper {
  background-color: #ede3f3bd;
  display: grid;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  width: 150px;
  height: 40px;
  grid-column: 1;
  grid-row: 3;
  margin-left: 130px;
  margin-bottom: 20px;
  /* position: relative; */
}

/* H1 og H2 color skifter ved stor skærm */
@media (min-width: 850px) {
  #forsideH1 {
    color: #ce6438;
  }
  #forsideH2 {
    color: #ce6438;
    margin-top: 1rem;
  }
}

/* overskrifter til CV siden */

#CVH2 {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  color: #e37a74;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
  margin-top: 1rem;
}
#CVH3 {
  font-family: "Orbitron", sans-serif;
  font-size: 0.7rem;
  color: #eba29b;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
  margin-top: 1rem;
}

#CVH4 {
  font-family: "Orbitron", sans-serif;
  font-size: 0.7rem;
  color: #eba29b;
  line-height: 1.125;
  margin-left: 1rem;
  letter-spacing: 0.4rem;
  text-align: left;
}

hr {
  color: #ce6438;
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px rgb(230, 122, 122);
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* brødtekst tekst mobil */
p {
  max-width: 90rem;
  font-family: “Saira”, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #d8ccdf;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
}

/* sektioner */

#first_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-image: url(billeder/splashbillede.png);
  background-size: cover;
  background-position: 77% 0%;
  background-repeat: no-repeat;
  place-content: start;
  margin-top: 1rem;
}

/* første sektion i CV */
#first_section_cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-image: url(billeder/splashbillede.png);
  background-size: cover;
  background-position: 77% 0%;
  background-repeat: no-repeat;
  place-content: start;
  margin-top: 1rem;
}

/* MENU KNAP FUNKTIONER */

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.logo {
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: #ce6438;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  scale: 2;
  margin: 1rem;
}

#menu {
  list-style-type: none;
  transition: transform 0.7s;
  transform-origin: top left;
  background-color: hsla(323, 16%, 80%, 0.945);
}

ul {
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 0rem;
}

li a {
  display: block;
  color: #e37a74;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Saira", sans-serif;
}

/* GRUNDLÆGGENDE HTML GRID MOBILE*/

.grid_containerweb {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerweb > div {
  text-align: center;
  padding: 0.1rem 0;
}

/* GRUNDLÆGGENDE UX GRID MOBILE*/

.grid_containerUX1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  /* grid-gap: 0.6rem;
  /* padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem; */
}

/* .grid_containerUX1 > div {
  text-align: center;
  padding: 0.1rem 0;
} */

.grid_containerUX1 .element1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid_containerUX1 .element2 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.grid_containerUX1 .element3 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.grid_containerUX1 .element4 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.grid_containerUX1 .element5 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.grid_containerUX2 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerUX2 > div {
  text-align: center;
  padding: 0.1rem 0;
}

.grid_containerUX3 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerUX3 > div {
  text-align: center;
  padding: 0.1rem 0;
}

/* GRUNDLÆGGENDE Animation GRID MOBILE*/
.grid_containerANI1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.6rem;
  padding: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI1 > div {
  text-align: center;
  padding: 20px 0;
}

.grid_containerANI2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.6rem;
  padding: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI2 > div {
  text-align: center;
  padding: 20px 0;
}
.grid_containerANI3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6rem;
  padding: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI3 > div {
  text-align: center;
  padding: 20px 0;
}
.grid_containerANI4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.6rem;
  padding: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI4 > div {
  text-align: center;
  padding: 20px 0;
}

.grid_containerANI5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI5 > div {
  text-align: center;
  padding: 0.1rem 0;
}

.grid_containerANI6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI6 > div {
  text-align: center;
  padding: 0.1rem 0;
}

.grid_containerANI7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerANI7 > div {
  text-align: center;
  padding: 0.1rem 0;
}

/* GRUNDLÆGGENDEN INDHOLD MOBIL */
#first_section_tema5 .section_wrapper {
  overflow: hidden;
}
.grid_containerh2s {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid_containerh2s > div {
  text-align: center;
  padding: 0.1rem 0;
}

.grid_containerpilot1 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid_containerpilot1 > div {
  text-align: center;
  padding: 0.1rem 0;
}

.grid_containerpilot2 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.6rem;
  padding-left: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid_containerpilot2 > div {
  text-align: center;
  padding: 0.1rem 0;
}
.grid_containerpilot3 {
  object-fit: cover;
  display: flex;
  aspect-ratio: 16 / 9;
  max-width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 650px) {
  /* GRUNDLÆGGENDE HTML WEBSITE GRID STORSKÆRM */
  .grid_containerweb {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerweb > div {
    text-align: center;
    padding: 20px 0;
  }

  /* GRUNDLÆGGENDE UX WEBSITE GRID STORSKÆRM */
  .grid_containerUX1 {
    display: grid;
    grid-template-columns: repeat(6, fr);
    grid-template-rows: repeat(2, fr);
    grid-gap: 0.6rem;
    /* padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem; */
  }

  .grid_containerUX1 > div {
    text-align: center;
    padding: 20px 0;
  }
  .grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
  }

  /* Grid der er lavet specilet til 1 sektion i UX design med 5 billeder */
  .grid_item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid_item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid_item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid_item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .grid_item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  /* De andre sektioner i UX design storskærm */
  .grid_containerUX2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerUX2 > div {
    text-align: center;
    padding: 20px 0;
  }
  .grid_containerUX3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerUX3 > div {
    text-align: center;
    padding: 20px 0;
  }

  /* Animations side grid stor skærm  */

  .grid_containerANI1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerANI1 > div {
    text-align: center;
    padding: 20px 0;
  }
  .grid_containerANI4 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerANI4 > div {
    text-align: center;
    padding: 20px 0;
  }

  .grid_containerANI5 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerANI5 > div {
    text-align: center;
    padding: 0.1rem 0;
  }

  .grid_containerANI6 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerANI6 > div {
    text-align: center;
    padding: 0.1rem 0;
  }

  .grid_containerANI7 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.6rem;
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerANI7 > div {
    text-align: center;
    padding: 0.1rem 0;
  }

  /* CV design storskærm */
  .IDEAL,
  .REIREI,
  .TUI,
  .USAtours,
  .havecenter,
  .floradanica,
  .KEA,
  .NielsBrock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.6rem;
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .IDEAL,
  .REIREI,
  .TUI,
  .USAtours,
  .havecenter,
  .floradanica,
  .KEA,
  .NielsBrock > div {
    text-align: center;
    padding: 0.1rem 0;
  }
  /* grundlæggende indhold stor skærm */
  .grid_containerh2s {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerh2s > div {
    text-align: center;
    padding: 20px 0;
  }

  .grid_containerpilot1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerpilot1 > div {
    text-align: center;
    padding: 20px 0;
  }
  .grid_containerpilot2 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerpilot2 > div {
    text-align: center;
    padding: 20px 0;
  }
  .grid_containerpilot3 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.6rem;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid_containerpilot3 > div {
    text-align: center;
    padding: 20px 0;
  }
}

/* Menulinje der skifter ved større skærm */

@media (min-width: 950px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    height: 3rem;
    background-color: hsla(323, 16%, 80%, 0.945);
  }
  #menu li {
    display: inline-block;
  }

  .logo {
    opacity: 1;
  }

  header {
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 7px #c9cccf, -3px -3px 7px #ffffff;
    z-index: 100;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
    gap: 0.4rem;
  }

  header .logo {
    width: 7%;
  }
  ul {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 18rem;
    /* background-color: #d3c3cd;
  box-shadow: #d880a8; */
  }

  li a {
    display: block;
    color: #e37a74;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Saira", sans-serif;
  }
}

@media (min-width: 1100px) {
  /* h1, h2, h4 der er på forside og cv ved stor skærm */
  #forsideH1 {
    font-family: "Orbitron", sans-serif;
    font-size: 3.5rem;
    align-self: center;
    line-height: 1.125;
    margin-left: 1rem;
    letter-spacing: 0.4rem;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
  }
  #forsideH2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.2rem;
    align-self: end;
    line-height: 1.125;
    margin: 1rem;
    letter-spacing: 0.4rem;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
  }

  h4 {
    display: grid;
    font-family: "Orbitron", sans-serif;
    font-size: 5.3rem;
    color: #c56198;
    line-height: 1.125;
    margin-right: 4rem;
    letter-spacing: 0.4rem;
    text-align: right;
    bottom: -7rem;
    position: relative;
    grid-column: 2;
    grid-row: 3;
  }
}
